streamlit
langchain
langchain-core
langchain-community
langchain-google-community
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface_hub
google-api-python-client
google-auth
numpy
pandas
